<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wacky Widgets</title>
</head>
<body>
  <h1>Wacky Widgets</h1>
  
  <div>
    
    {% if widgets.count %}
        <table>
            <thead>
                <tr> 
                    <th>description</th>
                    <th>quantity</th>       
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for widget in widgets %}
                <tr>
                    <td>{{ widget.description }}</td>
                    <td>{{ widget.quantity }}</td>
                    <td><a href="{% url 'widget_delete' widget.id %}">x</a></td>         
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h3>No widgets Exist</h3>
    <hr>
    {% endif %}
    <br><br>
    <hr>
    <a href="/add">add a widget</a>
  </div>
</body>
</html>